
.container{
    // background-color: #dfdfdf;
    padding:0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text{
    color: #3E8078;
    font-size: 2rem;
    font-weight: bold;
}
.btnWrapper{
    display: flex;
    gap:20px;

    .textStyle{
        font-size: 20px;
        font-weight: bold;
    }
}

