// Container
    .containerSearchCovid{
        padding:20px 30px;
    }
    // cardWrapper
    .dataCardWrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .dateBox{
        background-color: #ffdc1d;
        color: black;
        padding: 5px 20px;
        border-radius: 15px;
        width:fit-content;
    }
    .cardCovidData{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        .topicWrapper{
            display: flex;
            justify-content: space-between;
        }
    }
    .textTopic{
        color: #ffffff;
    }
    .textProvince{
        font-size:2rem;
        color:#189ad3;
    }
    .textNumber{
        font-size:2rem;
        color: #ffffff;
        text-align: center;
    }