//CardData
.container{
    border-radius:5px;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    padding:20px;
    width:250px;
}
.imageContainer{
    border-radius:5px;
    .image{
        width:100%;
    }
}
.textName{
    font-size:1.5rem;
    text-align:center;
}