@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
p {
  margin: 0;
  font-family: 'Kanit', sans-serif;
}
body {

  background-color: #DFDFDF;
  margin: 0;
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
